:root {
  --color-black: #000;
  --color-light-black: #333;
  --color-dark-gray: #666;
  --color-gray: #999;
  --color-lilac: #D1A9F0;
  --color-light-purple: #C283F3;
  --color-light-purple-opasity: #C283F366;
  --color-light-violet: #9D5CD0;
  --color-violet: #7943A4;
  --color-green: #30BF39;
  --color-blue: #26A5E4;
  --color-red: #D11616;
  --color-light-gray: #CACACA;
  --color-white-gray: #ECECEC;
  --color-white: #FFF;
  --transparent-dark-5: rgba(0, 0, 0, .5);
  --transparent-dark-6: rgba(0, 0, 0, .6);
  --time: .3s ease-in-out;
  --burger-line: 2px;
  --container-padding: 15px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg,
picture {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  color: var(--color-light-black);
}

.container {
  margin: 0 auto;
}

.btn {
  word-break: break-all;
  cursor: pointer;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
